<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Wiki Map</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map-lists.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav class="nav">
      <div class="navbar-top">
        <span class="nav-logo">Wiki map</span>
        <div class="nav-right">
          <span> username </span>
          <span><i class="fa-solid fa-user"></i></span>
        </div>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Create New Map</a>
        <a class="nav-item nav-link" href="#">All Maps</a>
        <a class="nav-item nav-link" href="#">My Maps</a>
        <a class="nav-item nav-link" href="#">My favourites</a>
      </div>
    </nav>

    <section class="card-lists">
      <!-- <h3 calss="card-title">All maps</h3>
      <div class="map-container">
        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>

        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>

        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>

        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>

        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>

        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>

        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>

        <div class="card card-item">
          <p class="card-title">Map title</p>
          <img
            class="card-img-top"
            src="https://image.shutterstock.com/image-vector/urban-vector-city-map-johannesburg-600w-1757922890.jpg"
            alt="Card image cap"
          />
          <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
        </div>
      </div> -->
    </section>
  </body>
</html>
