<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map page Title</title>

</head>
<body>
  <header>
    <h1>User McUser</h1>
  </header>
  <div id="add-marker">
    Add
  </div>
  <div id="floating-menu">
    <h2>My places</h2>
    <ul class="list-of-locations">
      <li>Place 1</li>
      <li>Place 2</li>
      <li>Place 3</li>
    </ul>
  </div>
  <div id="map"></div>

</body>
</html>
