<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map page Title</title>

  <!--App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../public/styles/map-page.css">

  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      const uluru = { lat: -25.344, lng: 131.036 };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: uluru,
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeControl: false
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: uluru,
        map: map,
      });
    }
  </script>
</head>
<body>
  <header id="map-page-header">
    <h1>User McUser</h1>
  </header>
  <div id="floating-menu">
    <button id="back-to-maps">
      Back to maps
    </button>
    <section id="list-of-locations">
      <h2>My places</h2>
      <ul>
        <li>Place 1</li>
        <li>Place 2</li>
        <li>Place 3</li>
      </ul>
    </section>
    <button id="add-marker">
      Add
    </button>
  </div>
  <div id="map"></div>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZp_qgsmGJD2eHlS1B-kZ8K6kHeRMgO2c&callback=initMap&libraries=&v=weekly"
    async
  ></script>
</body>
</html>
