<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map page Title</title>

    <!--App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>

    <!-- App Stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map-page.css" type="text/css" />
  </head>

  <body>
    <header id="map-page-header">
      <h1>User McUser</h1>
    </header>
    <div id="floating-menu">
      <section id="list-of-locations">
        <button id="back-to-maps">Back to maps</button>
        <h2>My places</h2>
        <ul>
          <li>Place 1</li>
          <li>Place 2</li>
          <li>Place 3</li>
        </ul>
      </section>
      <div id="map-buttons">
        <button class="add-marker">Add</button>
        <button class="share-btn">Share</button>
      </div>
    </div>
    <div id="map"></div>

    <!-- External JS to GoogleMaps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
