html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;

  header {
    height: 50px;
    background-color: green;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }
  }

  .btn-group {
    display: flex;
    flex-direction: row;
  }

  main {
    display: flex;
    flex-direction: row;
    height: 100%;

    #menu {
      flex: 1;
      background-color: slategray;
      min-width: 220px;
      max-width: min-content;

      #location-list {
        display: flex;
        flex-direction: column;

        .pin-item {
          background-color: salmon;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          margin: 2px;
          padding: 5px;
        }
      }
    }

    #map {
      flex: 5;
    }
  }
}

.info-window {
  width: 200px;

  img {
    width: 100%;
    height: 150px;
  }
  h3 {
    text-align: center;
    color: $col-primary;
    font-size: 30px;
  }
}
button.pin-save {
  margin: 0 auto;
  background-color: #778da9;
  border: none;
  padding: 5px 15px;
  color: white;
  font-size: 15px;
  width: 100%;
  outline: none;
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}
// #map {
//   height: 100%;
//   width: 100%;
// }

// #map-page-header {
//   position: fixed;
//   z-index: 1;
//   right: 2%;
// }

// #floating-menu {
//   width: 35%;
//   max-width: 500px;
//   height: 80%;
//   top: 5%;
//   left: 5%;
//   position: fixed;
//   z-index: 1;
//   display: flex;
//   justify-content: space-around;
//   align-items: flex-start;
// }

// #list-of-locations {
//   width: 100%;
//   height: 100%;
//   background-color: whitesmoke;
//   /*can add show/hide toggle in jQuery*/
// }

// #map-buttons {
//   margin: 1em;
//   padding: 1em;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   row-gap: 1em;
// }

// // #list-of-locations > ul > li { background-color: #336699; }
// #list-of-locations > ul > li:hover, #list-of-locations > ul > li.green { background-color: #7fab7f; }
// #pin-form {
//   background-color: whitesmoke;
// }
