html, body {
  height: 100%;
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
#floating-menu {
  width: 20%;
  height: 80%;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 5%;
  /*can add show/hide toggle in jQuery*/
}
#map-page-header{
  position: fixed;
  z-index: 1;
  right: 2%;
}
