#map-container {
  padding: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 1em;
  width: 28%;
  position: relative;

  &-text {
    text-align: center;
    font-size: 1rem;
  }

  &-title {
    text-align: left;
  }
}
.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
