.nav {
  background-color: #94daff;
  display: flex;
  flex-direction: column;

  &__button {
    margin-left: 2rem;
    border: none;
    padding: 0.5rem 2rem;
    background-color: #b983ff;
  }

  &__logo {
    font-size: 2rem;
  }

  &__item {
    &-1 {
      flex-grow: 2;
      text-align: center;
    }
    &-2 {
      flex-grow: 1;
      text-align: right;
    }
    &-3 {
      flex-grow: 1;
      text-align: center;
    }
    &-4 {
      flex-grow: 1;
      text-align: left;
    }
  }
}

.navbar {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin: 0 1.2em;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0;
    padding: 0.3rem;
    background-color: #94b3fd;
  }
}
